<div class="container">
  <h1 class="position-relative top-50 start-50">{{ title }}</h1>

  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
    <div class="mb-3">
      <label for="username">Username</label>
      <br>
      <input class="form-control" type="text" name="username" required minlength="3" maxlength="20" pattern="[a-zA-Z]+" [(ngModel)]="user.username" #username="ngModel">
      <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">Invalid Username</div>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <br>
      <input class="form-control" type="email" name="email" required [(ngModel)]="user.email" #email="ngModel">
      <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">Invalid Email</div>
    </div>
  
    <div class="mb-3">
      <label for="address">Address</label>
      <br>
      <input class="form-control" type="address" name="address" required [(ngModel)]="user.address" #address="ngModel">
      <div class="text-danger" *ngIf="address.invalid && (address.dirty || address.touched)">Address is required</div>
    </div>
  
    <div class="mb-3">
      <label for="dob">Date of birth</label>
      <br>
      <input class="form-control" type="dob" name="dob" required [(ngModel)]="user.dob" #dob="ngModel">
      <div class="text-danger" *ngIf="dob.invalid && (dob.dirty || dob.touched)">Date of birth is required</div>
    </div>
  
    <div class="mb-3">
      <label for="password">Password</label>
      <br>
      <input class="form-control" type="password" id="password" name="password" required minlength="6" maxlength="20" [(ngModel)]="user.password" #password="ngModel">
      <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">Invalid Password</div>
    </div>
    
    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>